.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(17, 24, 39);
  color: white;
  padding: 15px 40px;
}
.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.nav_items > button {
  margin-right: 20px;
  padding-right: 20px;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  background-color: transparent;
  font-weight: 600;
  border-right: 2px solid black;
  color: rgb(79, 69, 229);
  border-color: rgb(79, 69, 229);
}
@media only screen and (max-width: 800px) {
  .nav_items > button {
    margin-right: 14px;
    padding-right: 10px;
  }
}
.nav_items > button:hover {
  color: black;
  border-color: black;
  font-size: 17px;
}
.nav_cart {
  position: relative;
  color: white;
}
.nav_cart:hover {
  color: rgb(79, 69, 229);
}
.nav_cart > span {
  position: absolute;
  bottom: 0px;
  right: -13px;
  font-weight: 600;
  font-size: 15px;
}
.selected{
  font-size: 30px;
}