.producct {
  margin: 0 auto;
  padding: 30px;
  max-width: 800px;
}
.productItem {
  display: flex;
  justify-content: center;

  margin: 30px 0 70px 0;
  padding: 30px;
  align-items: flex-start;
  height: auto;
  box-shadow: 3px 3px 5px 4px rgba(0, 0, 0, 0.12);
}
@media only screen and (max-width: 800px) {
  .productItem {
    flex-wrap: wrap;
  }
  .productItem > img {
    width: 250px !important;
    height: 250px !important;
    margin-bottom: 20px;
  }
}

.productItem > img {
  height: 300px;
  width: 300px;
  object-fit: contain;
}
.productItem_text {
  padding: 0 30px;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.product_item_price {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.product_item_price > p {
  font-size: 14px;
  font-weight: 700;
}
.product_item_price > p:first-child {
  margin-right: 20px;
}
.product_item_rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.product_item_rating > span {
  font-weight: 500;
  margin-right: 7px;
}
.product_item_buttons {
  margin: 30px 0;
}
.product_item_buttons button {
  width: 100%;
  text-align: center;
  padding: 9px;
  border: none;
  border-radius: 7px;
  color: white;
  font-weight: 600;
  background-color: rgb(79, 69, 229);
  font-size: 17px;
}
.product_item_buttonss {
  display: flex;

  align-items: center;
  margin-top: 20px;
}
.product_item_buttonss > button {
  width: 60px;
}

.product_item_buttonss > span {
  margin: 0 10px;
}

.product_item_desc > p {
  color: rgb(127, 127, 127);

  padding-top: 10px;
  font-weight: 400;
  font-size: 17px;
  letter-spacing: 0.3px;
  line-height: 23px;
}
